<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>Tasker</title>
</head>
<body>
    <h1>Tasker</h1>
    <div id="showTodo" hx-get="/api/getTodo" hx-trigger="load every 1s"></div>
    <form action="/api/uploadTodo" hx-post="/api/uploadTodo" hx-trigger="submit" hx-target="#res">
        <input type="text" name="user">
        <input type="text" name="todo">
        <input type="submit" value="등록">
    </form>
    <div id="res"></div>
</body>
</html>